In [32]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures

In [33]:
df=pd.read_csv("Pizza-Price.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Restaurant      20 non-null     object
 1   Extra Cheeze    20 non-null     object
 2   Extra Mushroom  20 non-null     object
 3    Size by Inch   20 non-null     int64
 4   Extra Spicy     20 non-null     object
 5   Price           20 non-null     int64
dtypes: int64(2), object(4)
memory usage: 1.1+ KB

In [34]:
df

   Restaurant Extra Cheeze Extra Mushroom   Size by Inch Extra Spicy  Price
0           A          yes            yes             12          no    650
1           B           no            yes             15         yes    800
2           C           no             no              9          no    500
3           D          yes             no             12         yes    700
4           E          yes             no             12         yes    750
5           F           no            yes             15         yes    900
6           G          yes             no              9          no    600
7           H          yes             no              9         yes    700
8           I           no            yes             15          no    750
9           J           no            yes             15          no    700
10          K          yes            yes              8          no    600
11          L           no             no             12         yes    700
12          M          yes            yes              8          no    550
13          N          yes            yes             12         yes    900
14          O          yes             no             12          no    700
15          P          yes            yes             12          no    750
16          Q           no            yes             15         yes   1000
17          R           no             no              9          no    650
18          S          yes            yes             12         yes    950
19          T          yes             no              9          no    700

In [35]:
df.replace({'yes': 1, 'no': 0}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Restaurant      20 non-null     object
 1   Extra Cheeze    20 non-null     int64
 2   Extra Mushroom  20 non-null     int64
 3    Size by Inch   20 non-null     int64
 4   Extra Spicy     20 non-null     int64
 5   Price           20 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.1+ KB

In [36]:
data=df.drop(['Restaurant'],axis=1)
data

    Extra Cheeze  Extra Mushroom   Size by Inch  Extra Spicy  Price
0              1               1             12            0    650
1              0               1             15            1    800
2              0               0              9            0    500
3              1               0             12            1    700
4              1               0             12            1    750
5              0               1             15            1    900
6              1               0              9            0    600
7              1               0              9            1    700
8              0               1             15            0    750
9              0               1             15            0    700
10             1               1              8            0    600
11             0               0             12            1    700
12             1               1              8            0    550
13             1               1             12            1    900
14             1               0             12            0    700
15             1               1             12            0    750
16             0               1             15            1   1000
17             0               0              9            0    650
18             1               1             12            1    950
19             1               0              9            0    700

In [37]:
X=data.drop(['Price'],axis=1)
Y=data['Price']
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=175)

print('X train size:',len(x_train))
print('Y train size:',len(y_train))
print('X test size:',len(x_test))
print('X test size:',len(y_test))

X train size: 16
Y train size: 16
X test size: 4
X test size: 4

Linear Regression Without Polynomial

In [38]:
linear_model = LinearRegression()
linear_model.fit(x_train,y_train)
y_pred_linear = linear_model.predict(x_test)
mse_linear = mean_squared_error(y_test, y_pred_linear)
accuracy_linear=linear_model.score(x_test,y_test)
print("MSE Score:",mse_linear)
print("Accuracy Score:",accuracy_linear)

MSE Score: 6578.779857506134
Accuracy Score: 0.753776660303864

Lasso Regression Without Polynomial

In [39]:
lasso_model = Lasso(alpha=0.01)
lasso_model.fit(x_train,y_train)
y_pred_lasso=lasso_model.predict(x_test)
mse_lasso = mean_squared_error(y_test, y_pred_lasso)
accuracy_lasso=lasso_model.score(x_test,y_test)
print("MSE Score:",mse_lasso)
print("Accuracy Score:",accuracy_lasso)

MSE Score: 6579.211587549313
Accuracy Score: 0.7537605019864585

Ridge Regression Without Polynomial

In [40]:
ridge_model = Ridge(alpha=0.01)
ridge_model.fit(x_train,y_train)
y_pred_ridge=ridge_model.predict(x_test)
mse_ridge = mean_squared_error(y_test, y_pred_ridge)
accuracy_ridge=ridge_model.score(x_test,y_test)
print("MSE Score:",mse_ridge)
print("Accuracy Score:",accuracy_ridge)

MSE Score: 6584.436352839583
Accuracy Score: 0.7535649552153606

In [41]:
poly=PolynomialFeatures(degree=2,include_bias=False)
x_train_poly=poly.fit_transform(x_train)
x_test_poly=poly.fit_transform(x_test)

Linear Polynomial Regression

In [42]:
linear_model.fit(x_train_poly, y_train)
y_pred_linear = linear_model.predict(x_test_poly)
mse_linear2 = mean_squared_error(y_test, y_pred_linear)
accuracy_linear2=linear_model.score(x_test_poly, y_test)
print("MSE Score:", mse_linear)
print("Accuracy Score:",accuracy_linear2)

MSE Score: 6578.779857506134
Accuracy Score: 0.6491228070175523

Lasso Polynomial Regression

In [43]:
lasso_model.fit(x_train_poly,y_train)
y_pred_lasso2=lasso_model.predict(x_test_poly)
mse_lasso2 = mean_squared_error(y_test, y_pred_lasso)
accuracy_lasso2=lasso_model.score(x_test_poly,y_test)
print("MSE Score:",mse_lasso2)
print("Accuracy Score:",accuracy_lasso2)

MSE Score: 6579.211587549313
Accuracy Score: 0.6818864282762844

c:\Program Files\Python310\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.190e+04, tolerance: 2.150e+01
  model = cd_fast.enet_coordinate_descent(

Ridge Polynomial Regression

In [44]:
ridge_model.fit(x_train_poly,y_train)
y_pred_ridge2=ridge_model.predict(x_test_poly)
mse_ridge2 = mean_squared_error(y_test, y_pred_ridge2)
accuracy_ridge2=ridge_model.score(x_test_poly,y_test)
print("MSE Score:",mse_ridge2)
print("Accuracy Score:",accuracy_ridge2)

MSE Score: 7669.550971659393
Accuracy Score: 0.7129524782536836

In [45]:
results = {
    'Model': ['Linear Regression Without Polynomial', 'Lasso Regression Without Polynomial', 'Ridge Regression Without Polynomial',
    'Linear Polynomial Regression','Lasso Polynomial Regression','Ridge Polynomial Regression'],
    'MSE': [mse_linear, mse_lasso, mse_ridge, mse_linear2,mse_lasso2,mse_ridge2],
    'Accuracy Score': [accuracy_linear,accuracy_lasso,accuracy_ridge,accuracy_linear2,accuracy_lasso2,accuracy_ridge2],
}
summary_df = pd.DataFrame(results)
summary_df

                                  Model          MSE  Accuracy Score
0  Linear Regression Without Polynomial  6578.779858        0.753777
1   Lasso Regression Without Polynomial  6579.211588        0.753761
2   Ridge Regression Without Polynomial  6584.436353        0.753565
3          Linear Polynomial Regression  9375.000000        0.649123
4           Lasso Polynomial Regression  6579.211588        0.681886
5           Ridge Polynomial Regression  7669.550972        0.712952